@model SchedulEasy.Models.BusyDayDetailValidation

@{
    ViewBag.Title = "Details";
}

<div class="container body-content">
    <div class="contentBox">
        <h2>@Html.DisplayFor(model => model.busyDayDetail.Description)</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Start
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.busyDayDetail.Busy)
                </dd>

                <dt>
                    End
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.busyDayDetail.BusyEnd)
                </dd>

            </dl>
        </div>
        <p>
            @if (Model.Authenticated)
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.busyDayDetail.BusyDayID }) <text> |</text>
                @Html.ActionLink("Delete", "Delete", new { id = Model.busyDayDetail.BusyDayID }) <text> |</text>
            }
            @if (Model.TeamID != null)
            {
                @Html.ActionLink("Back to Calendar", "Index", "TeamCalendar", new { teamID = Model.TeamID }, null)
            }
            else
            {
                @Html.ActionLink("Back to Calendar", "Index", "Calendar")
            }

        </p>
    </div>
</div>