@model SchedulEasy.Models.BusyDayDetailValidation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BusyDayDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.busyDayDetail.BusyDayID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busyDayDetail.BusyDayID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.busyDayDetail.Busy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busyDayDetail.Busy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.busyDayDetail.BusyEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busyDayDetail.BusyEnd)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.busyDayDetail.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busyDayDetail.Description)
        </dd>

    </dl>
</div>
<p>
    @if (Model.Authenticated)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.busyDayDetail.BusyDayID }) <text> |</text>
        @Html.ActionLink("Delete", "Delete", new { id = Model.busyDayDetail.BusyDayID }) <text> |</text>
    }
    @if (Model.TeamID != null)
    {
        @Html.ActionLink("Back to Calendar", "Index", "TeamCalendar", new { teamID = Model.TeamID }, null)
    }
    else
    {
        @Html.ActionLink("Back to Calendar", "Index", "Calendar")
    }

</p>
