@model SchedulEasy.Models.Calendar.YearCalendar

@{
    ViewBag.Title = "Home Page";
}

<table class="mainCal">
    <thead>
        <tr>
            <th colspan="3" class="year">@DateTime.Now.Year</th>
        </tr>
    </thead>
    <tbody class="yearCal">
        @for (int i = 0; i < Model.weeks.Count; i++)
        {
            if (i == 0 || i == 3 || i == 6 || i == 9)
            {
                <tr>
                    <td>
                        <table id="component-table">
                            <thead>
                                <tr>
                                    <th colspan="7" style="background-color:transparent"><a class="monthLink" href="/Calendar?month=@Model.weeks[i].MonthInfo.Month&amp;year=2018">@Model.weeks[i].MonthInfo.ToString("MMMM")</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="week" id="week1">
                                    @foreach (var item in Model.weeks[i].Week1)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                                <tr class="week" id="week2">
                                    @foreach (var item in Model.weeks[i].Week2)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                                <tr class="week" id="week3">
                                    @foreach (var item in Model.weeks[i].Week3)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                                <tr class="week" id="week4">
                                    @foreach (var item in Model.weeks[i].Week4)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                                <tr class="week" id="week5">
                                    @foreach (var item in Model.weeks[i].Week5)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                                <tr class="week" id="week6">
                                    @foreach (var item in Model.weeks[i].Week6)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table id="component-table">
                            <thead>
                                <tr>
                                    <th colspan="7" style="background-color:transparent"><a href="/Calendar?month=@Model.weeks[i+1].MonthInfo.Month&amp;year=2018">@Model.weeks[i + 1].MonthInfo.ToString("MMMM")</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="week" id="week1">
                                    @foreach (var item in Model.weeks[i + 1].Week1)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                                <tr class="week" id="week2">
                                    @foreach (var item in Model.weeks[i + 1].Week2)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                                <tr class="week" id="week3">
                                    @foreach (var item in Model.weeks[i + 1].Week3)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                                <tr class="week" id="week4">
                                    @foreach (var item in Model.weeks[i + 1].Week4)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                                <tr class="week" id="week5">
                                    @foreach (var item in Model.weeks[i + 1].Week5)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                                <tr class="week" id="week6">
                                    @foreach (var item in Model.weeks[i + 1].Week6)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table id="component-table">
                            <thead>
                                <tr>
                                    <th colspan="7" style="background-color:transparent"><a href="/Calendar?month=@Model.weeks[i+2].MonthInfo.Month&amp;year=2018">@Model.weeks[i + 2].MonthInfo.ToString("MMMM")</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="week" id="week1">
                                    @foreach (var item in Model.weeks[i + 2].Week1)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                                <tr class="week" id="week2">
                                    @foreach (var item in Model.weeks[i + 2].Week2)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                                <tr class="week" id="week3">
                                    @foreach (var item in Model.weeks[i + 2].Week3)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                                <tr class="week" id="week4">
                                    @foreach (var item in Model.weeks[i + 2].Week4)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                                <tr class="week" id="week5">
                                    @foreach (var item in Model.weeks[i + 2].Week5)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                                <tr class="week" id="week6">
                                    @foreach (var item in Model.weeks[i + 2].Week6)
                                    {
                                        if (item != null)
                                        {
                                            if (item.daycolumn == 0 || item.daycolumn == 6)
                                            {
                                                <td class="weekend">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else if (item.Date != DateTime.Today)
                                            {
                                                <td>
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="selected">
                                                    <div class="busyCover" style="background-color:@item.BusyLevel"></div>
                                                    <div class="dayNum">@item.Date.Day</div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color:transparent"></td>
                                        }
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>